@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.untitledsitepage
{
width:1440px;
height:1966px;
padding:0px;
background-color:#ffffff;
}
.makers_navigation_bar
{
width:1440px;
height:94px;
padding-left:20px;
padding-right:20px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
position:relative;
background-color:#ffffff;
}
.container
{
align-self:flex-start;
left:170px;
position:absolute;
width:1100px;
height:94px;
padding-top:24px;
padding-bottom:24px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
}
.left
{
align-self:flex-start;
top:32px;
position:absolute;
width:85px;
height:30px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:32px;
}
.makers_brand_logo
{
width:85px;
height:30px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
}
.making.itlogo
{
width:85px;
height:30px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:relative;
}
.icon
{
align-self:flex-start;
top:5px;
position:absolute;
width:34px;
height:20px;
padding:0px;
}
.rectangle5
{
transform:rotate(45deg);
width:16.000022888183594px;
height:4.000026702880859px;
padding:0px;
top:11.31px;
position:relative;
background-color:#ffe45e;
}
.rectangle6
{
transform:rotate(45deg);
width:20.000022888183594px;
height:4.000026702880859px;
padding:0px;
left:7.14px;
top:14.14px;
position:relative;
background-color:#5eabe3;
}
.rectangle7
{
transform:rotate(45deg);
width:24.000022888183594px;
height:4.000026702880859px;
padding:0px;
left:14.11px;
top:16.97px;
position:relative;
background-color:#ff6392;
}
.logo3
{
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
align-self:flex-start;
left:42px;
position:absolute;
line-height:30%;
color:#0a2942;
width:43px;
}
.right
{
align-self:flex-start;
left:607px;
top:24px;
position:absolute;
width:493px;
height:46px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:24px;
}
.links
{
align-self:flex-start;
top:13.5px;
position:absolute;
width:354px;
height:19px;
padding-left:27px;
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:24px;
}
.makers_navigation_item
{
align-self:flex-start;
left:27px;
position:absolute;
width:57px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
background-color:#ffffff;
}
.navitem
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#000000;
width:57px;
}
.makers_navigation_item2
{
align-self:flex-start;
left:108px;
position:absolute;
width:89px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
background-color:#ffffff;
}
.navitem2
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#000000;
width:89px;
}
.makers_navigation_item3
{
align-self:flex-start;
left:221px;
position:absolute;
width:31px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
background-color:#ffffff;
}
.navitem3
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#000000;
width:31px;
}
.makers_navigation_item4
{
align-self:flex-start;
left:276px;
position:absolute;
width:78px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
background-color:#ffffff;
}
.navitem4
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#000000;
width:78px;
}
.makers_button
{
align-self:flex-start;
left:378px;
position:absolute;
width:115px;
height:46px;
border-radius:10px;
padding-left:28px;
padding-right:28px;
padding-top:3px;
padding-bottom:3px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:16px;
background-color:#0069ff;
}
.button2
{
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
align-self:flex-start;
left:28px;
top:3px;
position:absolute;
width:59px;
height:40px;
line-height:40%;
color:#ffffff;
}
.makers_main
{
width:1440px;
height:519px;
padding-left:20px;
padding-right:20px;
display:flex;
flex-direction:column;
background-color:#ffffff;
}
.container2
{
width:1200px;
height:519px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:relative;
}
.textside
{
align-self:flex-start;
top:94px;
position:absolute;
width:500px;
height:331px;
padding:10px;
display:flex;
flex-direction:column;
gap:24px;
}
.makers_text_content
{
width:480px;
height:241px;
padding:0px;
display:flex;
flex-direction:column;
gap:24px;
top:10px;
left:10px;
position:absolute;
}
.education
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:auto;
color:#0a2942;
width:480px;
}
.learnhowtomakeandpublishsiteswithfigma
{
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
top:43px;
width:480px;
height:116px;
position:absolute;
line-height:auto;
color:#000000;
}
.makersisafigmaplugintohelpyoubuildandpublishsitesdirectlyinfigma.nocoderequired.
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
top:183px;
width:480px;
height:48px;
position:absolute;
line-height:150%;
color:#0a2942;
}
.makers_buttons_group
{
width:160px;
height:46px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
gap:16px;
position:absolute;
top:275px;
left:10px;
}
.makers_button3
{
width:160px;
height:46px;
border-radius:10px;
padding-left:28px;
padding-right:28px;
padding-top:3px;
padding-bottom:3px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:16px;
position:relative;
background-color:#0069ff;
}
.button5
{
text-align:center;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
align-self:flex-start;
left:28px;
top:3px;
position:absolute;
line-height:40%;
color:#ffffff;
width:104px;
}
.imageside
{
align-self:flex-start;
left:540px;
position:absolute;
width:660px;
height:519px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
}
.image2
{
width:660px;
height:519px;
padding:0px;
display:flex;
flex-direction:column;
}
.makers_features
{
width:1440px;
height:523px;
padding-left:20px;
padding-right:20px;
display:flex;
flex-direction:column;
background-color:#ffffff;
}
.container3
{
width:800px;
height:255px;
padding-top:48px;
padding-bottom:48px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
gap:24px;
position:relative;
}
.textcontainer
{
align-self:flex-start;
top:48px;
position:absolute;
width:800px;
height:159px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
}
.makers_text_content2
{
width:800px;
height:159px;
padding:0px;
display:flex;
flex-direction:column;
gap:24px;
}
.education2
{
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:auto;
color:#2abda3;
width:800px;
}
.learnhowtomakeandpublishsiteswithfigma2
{
text-align:center;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
line-height:auto;
color:#000000;
width:800px;
}
.makersisafigmaplugintohelpyoubuildandpublishsitesdirectlyinfigma.nocoderequired.2
{
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:150%;
color:#0a2942;
width:800px;
}
.content3
{
width:1400px;
height:268px;
padding-bottom:64px;
display:flex;
flex-direction:column;
left:20px;
top:255px;
position:relative;
background-color:#ffffff;
}
.featuresgrid
{
width:1100px;
height:204px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-start;
position:absolute;
top:0px;
left:150px;
}
.mediaobjects
{
width:500px;
height:208px;
padding:0px;
display:flex;
flex-direction:column;
gap:32px;
}
.makers_media_object
{
width:500px;
height:88px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:16px;
position:relative;
}
.media3
{
width:40px;
height:40px;
border-radius:6px;
padding:8px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:relative;
background-color:#2abda3;
}
.makers_social_media_icons
{
align-self:flex-start;
left:8px;
top:8px;
position:absolute;
width:24px;
height:24px;
padding:0px;
background-color:#ffffff;
}
.vectors
{
width:24px;
height:24px;
padding:0px;
}
.vector2
{
width:7px;
height:7px;
left:5px;
top:2px;
position:absolute;
}
.vector3
{
width:7px;
height:7px;
left:12px;
top:2px;
position:absolute;
}
.vector4
{
width:7px;
height:7px;
left:12px;
top:9px;
position:absolute;
}
.vector5
{
width:7px;
height:7px;
left:5px;
top:16px;
position:absolute;
}
.vector6
{
width:7px;
height:7px;
left:5px;
top:9px;
position:absolute;
}
.text5
{
align-self:flex-start;
left:56px;
position:absolute;
width:444px;
height:88px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
}
.publishwithfigma
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:444px;
}
.loremipsumdolorsitamet,aequetationvisei.
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
top:32px;
width:444px;
height:27px;
position:absolute;
line-height:150%;
color:#0a2942;
}
.calltoaction
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
top:67px;
width:444px;
height:21px;
position:absolute;
line-height:150%;
color:#0249ff;
}
.makers_media_object2
{
width:500px;
height:88px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:16px;
position:relative;
}
.media6
{
width:40px;
height:40px;
border-radius:6px;
padding:8px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:relative;
background-color:#2abda3;
}
.makers_social_media_icons2
{
align-self:flex-start;
left:8px;
top:8px;
position:absolute;
width:24px;
height:24px;
padding:0px;
background-color:#ffffff;
}
.vectors2
{
width:24px;
height:24px;
padding:0px;
}
.vector8
{
width:7px;
height:7px;
left:5px;
top:2px;
position:absolute;
}
.vector9
{
width:7px;
height:7px;
left:12px;
top:2px;
position:absolute;
}
.vector10
{
width:7px;
height:7px;
left:12px;
top:9px;
position:absolute;
}
.vector11
{
width:7px;
height:7px;
left:5px;
top:16px;
position:absolute;
}
.vector12
{
width:7px;
height:7px;
left:5px;
top:9px;
position:absolute;
}
.text6
{
align-self:flex-start;
left:56px;
position:absolute;
width:444px;
height:88px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
}
.publishwithfigma2
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:444px;
}
.loremipsumdolorsitamet,aequetationvisei.2
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
top:32px;
width:444px;
height:27px;
position:absolute;
line-height:150%;
color:#0a2942;
}
.calltoaction2
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
top:67px;
width:444px;
height:21px;
position:absolute;
line-height:150%;
color:#0249ff;
}
.mediaobjects2
{
align-self:flex-start;
left:600px;
position:absolute;
width:500px;
height:208px;
padding:0px;
display:flex;
flex-direction:column;
gap:32px;
}
.makers_media_object3
{
width:500px;
height:88px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:16px;
position:relative;
}
.media10
{
width:40px;
height:40px;
border-radius:6px;
padding:8px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:relative;
background-color:#2abda3;
}
.makers_social_media_icons3
{
align-self:flex-start;
left:8px;
top:8px;
position:absolute;
width:24px;
height:24px;
padding:0px;
background-color:#ffffff;
}
.vectors3
{
width:24px;
height:24px;
padding:0px;
}
.vector14
{
width:7px;
height:7px;
left:5px;
top:2px;
position:absolute;
}
.vector15
{
width:7px;
height:7px;
left:12px;
top:2px;
position:absolute;
}
.vector16
{
width:7px;
height:7px;
left:12px;
top:9px;
position:absolute;
}
.vector17
{
width:7px;
height:7px;
left:5px;
top:16px;
position:absolute;
}
.vector18
{
width:7px;
height:7px;
left:5px;
top:9px;
position:absolute;
}
.text7
{
align-self:flex-start;
left:56px;
position:absolute;
width:444px;
height:88px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
}
.publishwithfigma3
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:444px;
}
.loremipsumdolorsitamet,aequetationvisei.3
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
top:32px;
width:444px;
height:27px;
position:absolute;
line-height:150%;
color:#0a2942;
}
.calltoaction3
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
top:67px;
width:444px;
height:21px;
position:absolute;
line-height:150%;
color:#0249ff;
}
.makers_media_object4
{
width:500px;
height:88px;
padding:0px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:16px;
position:absolute;
top:120px;
left:0px;
}
.media13
{
width:40px;
height:40px;
border-radius:6px;
padding:8px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:relative;
background-color:#2abda3;
}
.makers_social_media_icons4
{
align-self:flex-start;
left:8px;
top:8px;
position:absolute;
width:24px;
height:24px;
padding:0px;
background-color:#ffffff;
}
.vectors4
{
width:24px;
height:24px;
padding:0px;
}
.vector20
{
width:7px;
height:7px;
left:5px;
top:2px;
position:absolute;
}
.vector21
{
width:7px;
height:7px;
left:12px;
top:2px;
position:absolute;
}
.vector22
{
width:7px;
height:7px;
left:12px;
top:9px;
position:absolute;
}
.vector23
{
width:7px;
height:7px;
left:5px;
top:16px;
position:absolute;
}
.vector24
{
width:7px;
height:7px;
left:5px;
top:9px;
position:absolute;
}
.text8
{
align-self:flex-start;
left:56px;
position:absolute;
width:444px;
height:88px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
}
.publishwithfigma4
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:444px;
}
.loremipsumdolorsitamet,aequetationvisei.4
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
top:32px;
width:444px;
height:27px;
position:absolute;
line-height:150%;
color:#0a2942;
}
.calltoaction4
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
top:67px;
width:444px;
height:21px;
position:absolute;
line-height:150%;
color:#0249ff;
}
.makers_faq
{
width:1440px;
height:601px;
padding-left:20px;
padding-right:20px;
display:flex;
flex-direction:column;
background-color:#ffffff;
}
.container5
{
width:800px;
height:255px;
padding-top:48px;
padding-bottom:48px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
gap:24px;
position:relative;
}
.textcontainer2
{
align-self:flex-start;
top:48px;
position:absolute;
width:800px;
height:159px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
}
.makers_text_content3
{
width:800px;
height:159px;
padding:0px;
display:flex;
flex-direction:column;
gap:24px;
}
.education3
{
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:auto;
color:#678398;
width:800px;
}
.learnhowtomakeandpublishsiteswithfigma3
{
text-align:center;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
line-height:auto;
color:#000000;
width:800px;
}
.makersisafigmaplugintohelpyoubuildandpublishsitesdirectlyinfigma.nocoderequired.3
{
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:150%;
color:#0a2942;
width:800px;
}
.content5
{
width:1400px;
height:346px;
padding-bottom:64px;
display:flex;
flex-direction:column;
left:20px;
top:255px;
position:relative;
background-color:#ffffff;
}
.featuresgrid2
{
width:1100px;
height:282px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-start;
position:absolute;
top:0px;
left:150px;
}
.column
{
width:340px;
height:231px;
padding:0px;
display:flex;
flex-direction:column;
gap:32px;
}
.text11
{
width:340px;
height:86px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
}
.howdoyougofromfigmatosite?
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:340px;
}
.loremipsumdolorsitamet,aequetationvisei.nehissimulsensibuspercipitur.loremipsumdolorsitamet,aequetationvisei.nehissimulsensibuspercipitur.
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
line-height:150%;
color:#0a2942;
width:340px;
}
.text12
{
width:340px;
height:113px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
top:118px;
position:relative;
}
.whyisportugalsosunny?
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:340px;
}
.loremipsumdolorsitamet,aequetationvisei.nehissimulsensibuspercipitur.2
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
line-height:150%;
color:#0a2942;
top:32px;
left:0px;
position:absolute;
width:340px;
}
.column2
{
align-self:flex-start;
left:380px;
position:absolute;
width:340px;
height:282px;
padding:0px;
display:flex;
flex-direction:column;
gap:32px;
}
.text13
{
width:340px;
height:137px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
}
.where’sallthelove?
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:340px;
}
.loremipsumdolorsitamet,aequetationvisei.nehissimulsensibuspercipitur.3
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
line-height:150%;
color:#0a2942;
width:340px;
}
.text14
{
width:340px;
height:113px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
top:169px;
position:relative;
}
.howdoyouknowsantaiscoming?
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:340px;
}
.loremipsumdolorsitamet,aequetationvisei.nehissimulsensibuspercipitur.loremipsumdolorsitamet,aequetationvisei.nehissimulsensibuspercipitur.2
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
line-height:150%;
color:#0a2942;
top:32px;
left:0px;
position:absolute;
width:340px;
}
.column3
{
align-self:flex-start;
left:760px;
position:absolute;
width:340px;
height:258px;
padding:0px;
display:flex;
flex-direction:column;
gap:32px;
}
.text15
{
width:340px;
height:113px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
}
.where’sallthelove?2
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:340px;
}
.loremipsumdolorsitamet,aequetationvisei.nehissimulsensibuspercipitur.loremipsumdolorsitamet,aequetationvisei.nehissimulsensibuspercipitur.3
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
line-height:150%;
color:#0a2942;
width:340px;
}
.text16
{
width:340px;
height:113px;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
top:145px;
position:relative;
}
.howdoyouknowsantaiscoming?2
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:24%;
color:#000000;
width:340px;
}
.loremipsumdolorsitamet,aequetationvisei.nehissimulsensibuspercipitur.6
{
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
line-height:150%;
color:#0a2942;
top:32px;
left:0px;
position:absolute;
width:340px;
}
.makers_footer
{
width:1440px;
height:229px;
padding-left:20px;
padding-right:20px;
display:flex;
flex-direction:column;
background-color:#ffffff;
}
.container7
{
width:1000px;
height:229px;
padding-top:32px;
padding-bottom:32px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-start;
position:relative;
}
.column4
{
align-self:flex-start;
top:32px;
position:absolute;
width:240px;
height:148px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
}
.makers_brand_logo2
{
width:34px;
height:34px;
padding:0px;
display:flex;
flex-direction:column;
gap:20px;
}
.making.itlogo2
{
width:34px;
height:34px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:relative;
}
.icon6
{
align-self:flex-start;
top:7px;
position:absolute;
width:34px;
height:20px;
padding:0px;
}
.rectangle52
{
transform:rotate(45deg);
width:16.000022888183594px;
height:4.000026702880859px;
padding:0px;
top:11.31px;
position:relative;
background-color:#ffe45e;
}
.rectangle62
{
transform:rotate(45deg);
width:20.000022888183594px;
height:4.000026702880859px;
padding:0px;
left:7.14px;
top:14.14px;
position:relative;
background-color:#5eabe3;
}
.rectangle72
{
transform:rotate(45deg);
width:24.000022888183594px;
height:4.000026702880859px;
padding:0px;
left:14.11px;
top:16.97px;
position:relative;
background-color:#ff6392;
}
.makingtheworldabetterplace.
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
top:50px;
width:240px;
height:42px;
position:absolute;
line-height:150%;
color:#678398;
}
.socialmedia
{
width:240px;
height:40px;
padding-top:8px;
padding-bottom:8px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:24px;
position:absolute;
top:108px;
left:0px;
}
.makers_social_media_icons5
{
align-self:flex-start;
top:8px;
position:absolute;
width:24px;
height:24px;
padding:0px;
background-color:#ffffff;
}
.vectors5
{
width:24px;
height:24px;
padding:0px;
}
.vector26
{
width:7px;
height:7px;
left:5px;
top:2px;
position:absolute;
}
.vector27
{
width:7px;
height:7px;
left:12px;
top:2px;
position:absolute;
}
.vector28
{
width:7px;
height:7px;
left:12px;
top:9px;
position:absolute;
}
.vector29
{
width:7px;
height:7px;
left:5px;
top:16px;
position:absolute;
}
.vector30
{
width:7px;
height:7px;
left:5px;
top:9px;
position:absolute;
}
.makers_social_media_icons6
{
align-self:flex-start;
left:48px;
top:8px;
position:absolute;
width:24px;
height:24px;
padding:0px;
background-color:#ffffff;
}
.vectors6
{
width:24px;
height:24px;
padding:0px;
}
.vector32
{
width:22px;
height:17.943681716918945px;
left:1px;
top:2.9899444580078125px;
position:absolute;
}
.makers_social_media_icons7
{
align-self:flex-start;
left:96px;
top:8px;
position:absolute;
width:24px;
height:24px;
padding:0px;
background-color:#ffffff;
}
.vectors7
{
width:24px;
height:24px;
padding:0px;
}
.vector34
{
width:20px;
height:20px;
left:2px;
top:2px;
position:absolute;
}
.vector35
{
width:8.000008583068848px;
height:8.000008583068848px;
left:8.04296875px;
top:7.956729888916016px;
position:absolute;
}
.vector36
{
width:0.010000228881835937px;
left:17.5px;
top:6.5px;
position:absolute;
}
.column5
{
align-self:flex-start;
left:293.33px;
top:32px;
position:absolute;
width:200px;
height:130px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
}
.company
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
line-height:auto;
color:#678398;
width:200px;
}
.navigationlinks
{
width:200px;
height:89px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
top:41px;
position:relative;
}
.navigationitem
{
width:46px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
background-color:#ffffff;
}
.about
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:46px;
}
.navigationitem2
{
width:53px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
background-color:#ffffff;
top:35px;
left:0px;
}
.twitter
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:53px;
}
.navigationitem3
{
width:34px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
background-color:#ffffff;
top:29px;
left:0px;
}
.blog
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:34px;
}
.column6
{
align-self:flex-start;
left:546.66px;
top:32px;
position:absolute;
width:200px;
height:130px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
}
.product
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
line-height:auto;
color:#678398;
width:200px;
}
.navigationlinks2
{
width:200px;
height:89px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
top:41px;
position:relative;
}
.navigationitem4
{
width:52px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
background-color:#ffffff;
}
.pricing
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:52px;
}
.navigationitem5
{
width:66px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
background-color:#ffffff;
top:35px;
left:0px;
}
.features4
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:66px;
}
.navigationitem6
{
width:83px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
background-color:#ffffff;
top:29px;
left:0px;
}
.templates
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:83px;
}
.column7
{
align-self:flex-start;
left:800px;
top:32px;
position:absolute;
width:200px;
height:165px;
padding:0px;
display:flex;
flex-direction:column;
gap:10px;
}
.resources
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
line-height:auto;
color:#678398;
width:200px;
}
.navigationlinks3
{
width:200px;
height:124px;
padding:0px;
display:flex;
flex-direction:column;
gap:16px;
top:41px;
position:relative;
}
.navigationitem7
{
width:95px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
background-color:#ffffff;
}
.testimonials
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:95px;
}
.navigationitem8
{
width:61px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
background-color:#ffffff;
top:35px;
left:0px;
}
.support
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:61px;
}
.navigationitem9
{
width:47px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
background-color:#ffffff;
top:29px;
left:0px;
}
.terms
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:47px;
}
.navigationitem10
{
width:56px;
height:19px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:absolute;
background-color:#ffffff;
top:64px;
left:0px;
}
.privacy
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:auto;
color:#678398;
width:56px;
}


/* --------------------- */